<footer class="site-footer">
    <p>&copy; WOMANCE 2025</p>
    <nav class="social-nav">
       <a href="https://open.spotify.com/artist/7cyNW498a5ZjNsYXC6TmeN?si=m0XT0mAwRNm7J9Ih9u-Svw" target="_blank" title="Spotify">
         <i class="fab fa-spotify"></i>
       </a>
       <a href="https://youtube.com/@wo_mance" target="_blank" title="YouTube">
         <i class="fab fa-youtube"></i>
       </a>
       <a href="https://instagram.com/womance_" target="_blank" title="Instagram">
         <i class="fab fa-instagram"></i>
       </a>
       <a href="https://tiktok.com/womance_" target="_blank" title="TikTok">
         <i class="fab fa-tiktok"></i>
       </a>
    </nav>
  </footer>
  