<header class="site-header">
    <div class="logo">
        <a href="/index.html">
            <img src="favicon.png" alt="Womance Logo">
        </a>
    </div>
    <nav class="main-nav">
        <a href="/index.html">HOME</a>
        <a href="/contact.html">CONTACT</a>
        <a href="/luisteren.html">LUISTEREN</a>
        <a href="/press.html">PRESS</a>
    </nav>
    <div class="hamburger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>

<div class="mobile-nav hidden">
    <a href="/index.html">HOME</a>
    <a href="/contact.html">CONTACT</a>
    <a href="/luisteren.html">LUISTEREN</a>
    <a href="/press.html">PRESS</a>
</div>